sup{
	font-size: 67%;
	vertical-align: 33%;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
p{
	margin: 0px;
}
.s1{
	color: #000000;
	font-size: 175.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s2{
	font-size: 112.5000%;
}
.s3{
	color: #000000;
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-indent: 0.0000%;
	text-transform: none;
}
.s4{
	font-size: 81.2500%;
}
.s5{
	color: #000000;
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s6{
	letter-spacing: 0.0529em;
}
.s7{
	font-weight: bold;
	letter-spacing: 0.0529em;
}
.s8{
	text-decoration: underline;
}
.s9{
	font-style: italic;
}
.s10{
	color: #CA4220;
	font-style: italic;
}
.s11{
	letter-spacing: 0.0125em;
}
.s12{
	font-weight: bold;
	letter-spacing: 0.0292em;
}
.c1{
	color: #000099;
	letter-spacing: 0.0375em;
	text-decoration: underline;
}
.c2{
	letter-spacing: 0.0375em;
}
.c3{
	font-weight: normal;
}
.c4{
	font-style: italic;
	letter-spacing: 0.0053em;
}
.c5{
	color: #000099;
	letter-spacing: 0.0118em;
	text-decoration: underline;
}
.c6{
	color: #000099;
	text-decoration: underline;
}
.c7{
	letter-spacing: 0.0158em;
}
.c8{
	color: #CA4220;
	letter-spacing: 0.0118em;
}
.c9{
	font-style: italic;
}
.c10{
	color: #CA4220;
}
.c11{
	text-decoration: none;
}
.c12{
	color: #CA4220;
	letter-spacing: 0.0118em;
	text-decoration: none;
}
.c13{
	letter-spacing: -0.0053em;
}
.c14{
	color: #1A1A1A;
}
.c15{
	letter-spacing: 0.0158em;
	text-decoration: none;
}
.c16{
	font-style: normal;
}
.c17{
	color: #000000;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.0412em;
}
.c18{
	color: #000000;
	font-style: normal;
}
.c19{
	font-weight: bold;
	letter-spacing: 0.0412em;
}
.c20{
	color: #000099;
	font-style: italic;
	text-decoration: underline;
}
.c21{
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.0412em;
}
.c22{
	color: #CA4220;
	font-style: italic;
}
